.keypad {
  margin-top: 5%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgb(214, 214, 214);
}

.div1 {
  grid-area: 1 / 1 / 2 / 5;
  text-align: end;
  font-size: 20px;
}
.div2 { grid-area: 6 / 1 / 7 / 3; }

input {
  border: none;
  background-color: rgb(121, 121, 121);
}

input::placeholder {
  color: rgb(255, 255, 255);
}

button {
  padding: 10%;
  border: solid 1px rgb(173, 173, 173);
}

.orange-buttons {
  background-color: rgb(255, 129, 40);
  border: solid 1px rgb(173, 173, 173);
}
